.About {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 0;
}

.About img {
  width: 100%;
  margin-top: 3rem;
  height: 60vh;
  object-fit: cover;
}

.story-head {
  color: #00d56d;
  font-size: 2.5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 3rem;
  text-align: center;
}

.TeamCard,
.Partner {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.story-text, .story-text2 {
  color: #000;
  font-size: 1.3rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 4rem;
  padding-top: 0rem;
  text-align: justify;
  line-height: 2;
}

.story-text2 {
  margin-top: 2rem;
  line-height: 1.7;
}

.story-text2 p {
  display: flex;
  text-align: left;
}

.mission {
  background-color: #522A0EC0;
  color: #ffffff;
  text-align: left;
  padding: 1rem 1.5rem 1.5rem 2rem;
  font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 1rem;
  width: 100%;
  border-radius: 10px;
}

.visionmission {
  margin-right: 1rem;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
}

.team-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.team-card {
  margin: 10px;
}

.our-team {
  padding: 20px;
}

.team-member {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.team-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-item img {
  width: 50%;
  height: 63%;
  object-fit: cover;
}

.partener {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.partener img {
  width: 10%;
  height: 30px;
  object-fit: cover;
}

.team-section-title {
  color: #fff;
  background: #239E36;
  font-size: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 1rem;
  text-align: center;
  margin-bottom: 0.6rem;
}

.board,
.assistants,
.workers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-row {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.TeamCard {
  margin: 0 1rem;
  max-width: 300px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.TeamCard img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.TeamCard h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.TeamCard p {
  font-size: 0.9rem;
  margin-bottom: 5px;
}
.rab{
  width: 10%;
  height: 10%;
}

@media (max-width: 768px) {
  .team-row {
    flex-wrap: wrap;
  }

  .TeamCard {
    margin: 1rem;
  }

  .About img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
  }

  .visionmission {
    display: flex;
  }

  .partener {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
  }
}
