
.About {
  display: grid;
  position: relative;
  z-index: 0;
}

.About img{
 width: 100%;
 height: 50vh;
 object-fit: cover;
}

.story-head {
  color: #0C9444;
  font-size: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 3rem;
  text-align: right;
}
/* .team {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
  gap: 20px; 
  width: 20px;
} */

.board,
.assistants,
.partners,
.worker {
  margin-top: 20px; 
}


.TeamCard,
.Partner {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}



.story-text,.story-text2 {
  color: #000;
  font-size: 1.3rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 3rem;
  text-align: left;
  line-height: 1.5;

}
.story-text2{
  margin-top: 2rem;
  line-height: 1.7
 
}

.story-text2 p{
  display: flex;
  text-align: left;
}

.mission {
  background-color: #522A0E;
  color: #ffffff;
  text-align: left;
  padding: 1rem 1.5rem 1.5rem 2rem;
  font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 1rem;
  width: 100%;
  border-radius: 10px;
  /* box-shadow: 15px 10px 5px 0px rgba(0, 0, 0, 0.75); */
}
.visionmission{
  margin-right: 1rem;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  width: 90%;
}




.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
 
}


.team-card {
  margin: 10px;
}
.our-team {
  padding: 20px;
}

.story-head {
  color: #00d56d;
  font-size: 2.5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 3rem;
  text-align: center;
}

.team-section-title {
  color: #fff;
  background: #239E36;
  font-size: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 1rem;
  text-align: center;
  margin-bottom: 0.6rem;
}

.board,
.assistants,
.workers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-row {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.TeamCard {
  margin: 0 1rem;
  max-width: 300px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.TeamCard img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.TeamCard h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.TeamCard p {
  font-size: 0.9rem;
  margin-bottom: 5px;
}



@media (max-width: 768px) {
  .team-row {
    flex-wrap: wrap;
  }

  .TeamCard {
    margin: 1rem;
  }
}




.visionmission{
  display: flex;
}






