/* Awards Container */
.awards-container {
  background-color: #f8f8f8;
  padding: 2rem;
}

/* Awards Content 1 */
.awards-content1 {
  max-width: 900px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

.awards-content1 h1,
.awards-content1 h2,
.awards-content1 h3,
.awards-content1 h4,
.awards-content1 h5 {
  font-weight: 600;
  color: #00d56d;
  margin-bottom: 1rem;
}

.awards-content1 h1 {
  font-size: 2.5rem;
  text-align: center;
}

.awards-content1 p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  text-align: justify;
}

/* Mission, Eligibility, Submission */
.mission1,
.award-eligibility,
.submission-guidelines,
.submission-deadline {
  background-color: #f2f2f2;
  border-left: 4px solid #00d56d;
  padding: 1.5rem;
  border-radius: 5px;
  margin-bottom: 2rem;
}

.mission1 h2,
.award-eligibility h2,
.submission-guidelines h2,
.submission-deadline h2 {
  color: #333;
  margin-bottom: 0.5rem;
}

/* Objectives */
.objectives ul {
  list-style-type: none;
  padding-left: 0;
}

.objectives ul li {
  position: relative;
  padding-left: 2rem;
  margin-bottom: 1rem;
}

.objectives ul li::before {
  content: counter(item) ".";
  counter-increment: item;
  position: absolute;
  left: 0;
  font-weight: 600;
  color: #00d56d;
}

/* Award Categories */
.award-categories ul {
  list-style-type: none;
  padding-left: 0;
}

.award-categories ul li {
  position: relative;
  padding-left: 2rem;
  margin-bottom: 1rem;
}

.award-categories ul li::before {
  content: "\2022";
  position: absolute;
  left: 0;
  font-size: 1.5rem;
  color: #00d56d;
}

/* Participants */
.participants {
  background-color: #00d56d;
  color: #fff;
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.participants h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}
p{
  text-align: justify;
}

.participants-list ul {
  list-style-type: none;
  padding-left: 0;
  text-align: justify;
}

.participants-list ul li {
  position: relative;
  padding-left: 2rem;
  margin-bottom: 1rem;
  text-align: justify;
}

.participants-list ul li::before {
  content: "\2022";
  position: absolute;
  left: 0;
  font-size: 1.5rem;
  color: #fff;
}

/* Awards Content */
.awards-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  margin-top: 2rem;
}

.awards-content div {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  text-align: justify;
}

.awards-content img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 5px;
  margin-bottom: 1rem;
}

/* Submission */
.submission {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  margin-top: 2rem;
}

/* How to Apply */
.how-to-apply {
  background-color: #00d56d;
  color: #fff;
  padding: 2rem;
  border-radius: 10px;
  margin-top: 2rem;
  text-align: justify;
}

.how-to-apply h2 {
  margin-bottom: 1.5rem;
}

.how-to-apply p {
  text-align: justify;
}

.how-to-apply-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.how-to-apply-content button {
  display: inline-flex;
  align-items: left;
  background-color: #fff;
  color: #00d56d;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 600;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.title-how {
  font-size: 3rem;
  margin-right: 4rem;
  font-weight: 900;
}

.how-to-apply-content button:hover {
  background-color: #522a0e;
  color: #fff;
}

.icon21 {
  margin-left: 0.5rem;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .awards-content {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .submission {
    grid-template-columns: 1fr;
  }

  .title-how {
    display: none;
  }
  .objectives ul li{
    text-align: justify;
  }
  .awards-content div {
    text-align: justify;

  }
}