
.hub {
 display: grid;
 position: relative;
  z-index: 0;
}

.active-img{
    width: 100%;
    height: 70vh;
    object-fit: cover;
}
.active-content{
    /* background-color: #D7F0C8; */
    
}


.active-content h3{
  font-size: 32px;
  margin-top: -200px;
  position: absolute;
  margin-left: 44px;
  color: white;

  

}
.active-info{
  display: flex;
  flex-direction: row;
  
}
.active-info h4{
  margin-top: 2rem;
  align-items: center;
  margin-left: 337px;
  color: #239E36;
  margin-bottom: 1.2rem;

}
.active-info p{
  margin-left: 30px;
}
.active-info .vid1{
background-image: url(https://www.youtube.com/shorts/JLBW2hSD3D0);

}

.blog-card {
  flex-basis: calc(33.3333% - 20px); /* Three cards per row, with 20px gap */
  margin-bottom: 20px; /* Add some vertical spacing */
}
@media only screen and (max-width: 768px) {
  .hub{
    margin: 1rem;
  }
  .active-img {
    height: 50vh; /* Reduce height of active image on smaller screens */
  }

  .active-content p {
    font-size: 1.5rem; /* Decrease font size of paragraph in active content */
    padding: 1.5rem; /* Adjust padding for smaller screens */
  }

  .active-info {
    margin: 1rem; /* Adjust margin for smaller screens */
    font-size: 1.5rem;
  }

  .blog-card {
    flex-basis: calc(50% - 10px); /* Two cards per row, with 10px gap */
    
  }
}
@media only screen and (max-width: 430px) {
  .active-info {
    margin: 1rem; /* Adjust margin for smaller screens */
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
  }
  .active-content{
    text-align: center;
    margin: 1rem;
  }
}
