.ad-button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000; 
}

.ad-button {
  background-color: #239E36B8;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 30px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.ad-button:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

.ad-button:active {
  transform: scale(0.95);
}

.ad-text {
  margin-right: 10px;
}

.ad-button span {
  display: inline-block;
  vertical-align: middle;
}
