.youth-content {
   
  padding: 10rem; 
  background-image: url(../../assets/closeup.jpg);
  height: 200%;
  background-size: cover; 
  background-position: center; 
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); 
  background-color: #2F2F2F61;

}
.youth-content h1 {
  font-size: 3rem;
  color: #fff; 
  text-transform: uppercase;
  margin-left: -6rem;
  align-items: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.youth{
  margin: 2rem;
  color: #239E36;
}
.youth h1{
  font-size: 2rem;
  text-align: left;
}
.youth-page{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  flex-wrap: wrap;
 
}
.youth-page img{
  width: 385px;
  height: 250px;
object-fit: cover;
padding-top: 0.5rem;
padding-bottom: 0.5rem;
}

.youth-gallery{
  display: flex;
flex-direction: row;
justify-content: space-between;
}
.youth-gallery img{
  margin: 1rem;
  width: 100%;
  max-width: 1200px;
  height: 300px;
  object-fit: cover;
  padding: 1rem;
}
@media only screen and (max-width: 768px){
  .youth-page{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .youth-page img{
    width: 49%;
    height: 140px;
    object-fit: cover;
  }
  .youth-gallery{
    display: flex;
    flex-direction: column;
  }
  .youth-gallery img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    padding-right: 3rem;
  }
}