.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #fff;
  padding: 40px 20px;
  background: #239E36;
  width: 100%;
}

.left-section, .middle-section, .right-section {
  flex: 1;
  max-width: 33%;
}

.logo img {
  width: 80px;
  border-radius: 50%;
}

.left-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.social-media-icons {
  display: flex;
  gap: 2rem;
  font-size: 26px;
}

.social-media-icons i:hover {
  color: #9991ef;
}

.middle-section ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.middle-section ul li {
  margin-bottom: 15px;
}

.middle-section ul li a {
  color: #fff;
  text-decoration: none;
}

.pl {
  padding-left: 1rem;
}

.right-section {
  text-align: left;
}

.contact2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.fone, .email1 {
  display: flex;
  align-items: center;
}

.fone i, .email1 i {
  font-size: 20px;
  margin-right: 1rem;
  color: #0C9444;
}

.phone1, .email {
  display: flex;
  flex-direction: column;
}

.phone1 h1, .email h1 {
  text-transform: capitalize;
  font-size: 16px;
  margin: 0;
}

.phone1 p, .email p {
  font-size: 14px;
  margin: 5px 0 0;
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .left-section, .middle-section, .right-section {
    max-width: 100%;
    width: 100%;
    margin-bottom: 30px;
    align-items: center;
    text-align: center;
  }

  .left-section {
    flex-direction: column;
  }

  .middle-section ul {
    align-items: center;
  }

  .right-section {
    align-items: center;
  }

  .contact2 {
    align-items: center;
  }

  .fone, .email1 {
    flex-direction: column;
    align-items: center;
  }

  .fone i, .email1 i {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .phone1, .email {
    align-items: center;
  }
}