/* Default styles */
.story-card {
  width: 30%;
  border-radius: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  margin: 20px;
}

.story-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.story-content {
  text-align: justify;
  background: #522A0EB2;
  
}

.story-content h2 {
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 0;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.story-content p {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  text-align: justify;
  padding: 2rem;
  height: 100%;
  
  
}


@media only screen and (max-width: 768px) {
  .story-card {
    width: 100%;
    margin: 10px 0; 

  }

  .story-content h2 {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .story-content p {
    font-size: 1.2rem; 
  }
  .story-img{
    height: 300px;
  }
}